@import '../../scss/abstracts/variables';

    .dashboard-sub-title {
        color: $white;
        padding: 0;
        line-height: 1;
    }
    .dashboard-cardsRow{
        display: flex;
        flex-direction: row;
        padding: 1rem 0;
    }
