@import '../../scss/abstracts/variables';

.dashboard-container {
    height: 94%;
    position: relative;
    padding: 0 1rem;
    .dashboard-sub-title {
        color: $white;
        padding: 0;
        line-height: 1;
    }
    .dashboard-cardsRow{
        display: flex;
        flex-direction: row;
    }
}

.body-sub-title {
    color: $white;
    padding: 0;
    line-height: 1;
    font-size: 1rem;
}